/*Simon Leroux PFI-CSS*/


body
{
	margin:0px;
	padding:0px;
	
	
	
}
main
{
	display:grid;
	grid-template-columns:0.75fr 6fr 0.85fr;
	grid-template-rows:  6fr 1fr 
	grid-column-gap:20px;
	grid-row-gap:20px;
	
	background: linear-gradient(to top left, #000099 0%, #990000 100%);
}



header
{
	background-color:Navy;
	margin:0px;
	padding:0px;
	height:12vh;;
	
}



.grilleHeader
{
	display:grid;
	grid-template-columns:0.5fr 5fr 3fr;
	
	
	
}


.canadien
{
	text-align:center;
	background-color:AliceBlue;
	color:red;
	font-size:3vw;
	border:2px solid red;
	width:35vw;
	
	position:relative;
	top:3vh;
	font-family:Copperplate,Arial,serif;
	font-weight: bold;
	float:left;
	margin-right:10px;
	
}

.sujet
{
	
	text-align:center;
	background-color:AliceBlue;
	color:red;
	font-size:2vw;
	border:2px solid red;
	width:15vw;
	
	position:relative;
	top:5.5vh;
	font-family:Copperplate,Arial,serif;
	font-weight: bold;
	float:left;
	
}

.navigation
{
	width:5vw;
	height:6vh;
	position:relative;
	top:3vh;
	left:10%;
}





.changementPage
{
	display:none;
	
	
}



.navigationBouton:hover .changementPage
{
	display:block;
	background-color:Navy;
	color:white;
	height:80vh;
	position:absolute;
	width:6vw;
	top:12vh;
	font-size:1vw;
	text-align:center;
	
}

a
{
	color:red;
}
	



.texte1
{
	font-size:1.5vw;
	color:black;
	background-color:LightGray;
	padding:10px;
	text-align:center;
	
}




.photoNHL
{
	width:12vw;
	height:20vh;
	position:relative;
	
	padding:10px;

}

.photoLogo
{
	width:10vw;
	height:12vh;
	float:right;
}

.ligneEnBas
{
	display:grid;
	grid-template-rows:1fr 1fr 1fr;
	position:relative;
	
	
	
}

.ligneEnBas div
{
	border:1px solid black;
	width:100vw;
	height:2vh;
}



.ligneRouge
{
	background-color:red;
	color:red;
	
}

.ligneBlanche
{
	background-color:white;
	color:white;
	
}

.ligneBleu
{
	background-color:Navy;
	color:Navy;
}

.texte2
{
	display:grid;
	grid-template-columns:1fr 1fr;
	
	font-size:1.5vw;
	color:black;
	background-color:LightGray;
	padding:10px;
	text-align:center
	
}

.texte2 div
{
	padding:15px;
	border:1px solid black;
}


h1
{
	text-align:center;
}

.texte3
{
	font-size:1.5vw;
	color:black;
	background-color:LightGray;
	padding:10px;
	
	
	
}
.photoJoueur
{
	width:18vw;
	height:36vh;
}

.statLehkonen
{
	border:1px solid black;
	padding:2px;
	font-size:1vw;
	position:relative;
	left:9vw;
}
.statLehkonen td
{
	border:1px solid black;
	
}

.photoKK
{
	
	width:18vw;
	height:45vh;
}

.photoKKPosition
{
	grid-column-start:1;
	grid-column-end:3;
	
}

.video
{
	position:relative;
	width:30vw;
	height:35vh;
	margin:3vh;
	
	
}

ol
{
	text-align:left;
	
}

ul
{
	
	list-style-type:none;
}

#videoKK
{
	position:relative;
	left:10vw;
	border:0px solid black;
}

#photoKK
{
	position:relative;
	right:10vw;
	border:0px solid black;
	
}

.videoKK
{
	height:40vh;
	
}

.photoMoi
{
	height:40vh;
}


@media screen and (max-width:800px)
{

	.ligneEnBas div
	{
		border:0px solid black;
		
	}

	.texte2 div
	{
		padding:15px;
		border:0.1vw solid black;
	}

	
}